.client-1:after{
    background-image: url(../media/img/client/client-1.png);
}

.client-2:after{
    background-image: url(../media/img/client/client-2.png);
}

.client-3:after{
    background-image: url(../media/img/client/client-3.png);
}

.client-4:after{
    background-image: url(../media/img/client/client-4.png);
}

.client-5:after{
    background-image: url(../media/img/client/client-5.png);
}

.client-6:after{
    background-image: url(../media/img/client/client-6.png);
}

.client-7:after{
    background-image: url(../media/img/client/client-7.png);
}

.client-8:after{
    background-image: url(../media/img/client/client-8.png);
}

.client-9:after{
    background-image: url(../media/img/client/client-9.png);
}

.client-10:after{
    background-image: url(../media/img/client/client-10.png);
}