/* NAV */
.nav{
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #141414;
    position: fixed;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    background-color: white;
}

.container-nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

.logo a{
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.menu{
    display: block;
    box-sizing: border-box;
}

.menu a{
    cursor: pointer;
}

.box-menu{
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
}

.box-menu a{
    position: relative;
    margin-left: 30px;
    font-weight: 700;
    color: #141414;
    box-sizing: border-box;
}

.box-menu a::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #141414;
    box-sizing: border-box;
    transition: 300ms;
}

.box-menu a:hover::after{
    width: 100%;
}

.hamburgericon{
    display: none;
    width: fit-content;
    height: 100%;
    margin-left: auto;
    box-sizing: border-box;
}

.line{
    width: 27px;
    height: 3px;
    background-color: #141414;
    margin: 5px;
    border-radius: 20px;
    box-sizing: border-box;
}

#box-menu-mobile{
    padding: 30px;
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%;
    height: 100%;
    color: white;
    background-color: #007ca1;
    display: grid;
    grid-template-rows: 0.3fr 2fr;
    box-sizing: border-box;
    z-index: 101;
}

.item-menu-mobile a{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 1em auto 0 auto;
    font-size: 25.8px;
    box-sizing: border-box;
}

/* MIDDLE */
/* HERO */
.hero{
    height: 100vh;
    box-sizing: border-box;
}

.container-hero{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

.box-hero-right{
    overflow: hidden;
    box-sizing: border-box;
}

.box-hero-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.box-hero-left div{
    height: 100%;
    padding: 20px;
    font-weight: 900;
    display: grid;
    place-content: center;
    box-sizing: border-box;
    color: #007ca1;
    background-color: white;
    position: relative;
}

.box-hero-left h3{
    font-style: italic;
    font-weight: 500;
}

.box-hero-left h1{
    line-height: 1.2em;
}

/* ABOUT */
.about{
    background-color: whitesmoke;
    box-sizing: border-box;
}

.about-desktop{
    display: block;
}

.about-mobile{
    display: none;
}

.wrap-box-about{
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
}

.box-about{
    margin: 15px;
    padding: 30px 45px;
    background-color: #007ca1;
    box-sizing: border-box;
    transition: 300ms;
}

.box-about:hover{
    transform: translate(0, -5px);
}

.label-services{
    padding: 9px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
}

.box-about div{
    margin-top: 2em;
}

.box-about div p{
    border-bottom: 1.5px solid white;
    padding: 0.5em 0;
}

/* WORKS */
.works{
    background-color: white;
    position: relative;
    box-sizing: border-box;
}

.works-desktop{
    display: block;
}

.works-mobile{
    display: none;
}

#scrollWorks{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -60px;
    left: 0;
    box-sizing: border-box;
}

.wrap-box-works{
    padding: 0 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
}

.box-works{
    height: 400px;
    margin: 7px;
    overflow: hidden;
    box-sizing: border-box;
}

.box-works img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    transition: 500ms;
}

.box-works img:hover{
    scale: 1.015;
}

/* BANNER */
.banner{
    min-height: 75vh;
    padding: 20px;
    position: relative;
    color: white;
    display: grid;
    place-content: center;
    box-sizing: border-box;
}

.banner-desktop{
    display: block;
}

.banner-mobile{
    display: none;
}

.banner::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../media/img/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    z-index: -1;
}

.banner::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #007ca1;
    opacity: 0.75;
    box-sizing: border-box;
    z-index: -1;
}

/* CLIENT */
.container-client{
    position: relative;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.container-client::before{
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, white , transparent);
    box-sizing: border-box;
    z-index: 1;
}

.container-client::after{
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, transparent , white);
    box-sizing: border-box;
    z-index: 1;
}

.wrap-box-client{
    width: fit-content;
    display: flex;
    box-sizing: border-box;
    animation: slide 35s infinite linear;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.box-client{
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}

.box-client img{
    min-width: 120px;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}


/* BANNER TOP FOOTER */
.banner-topfooter{
    background-color: #007ca1;
    color: white;
    box-sizing: border-box;
}

.container-banner-topfooter{
    position: relative;
    box-sizing: border-box;
}

.container-banner-topfooter::before{
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    height: 5px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    box-sizing: border-box;
}

.container-banner-topfooter::after{
    content: '';
    display: block;
    position: absolute;
    width: 40%;
    height: 5px;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 0);
    background-color: white;
    box-sizing: border-box;
}

/* FOOTER */
.footer{
    background-color: #01607d;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    position: relative;
    box-sizing: border-box;
}

.footer::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #007ca1;
    box-sizing: border-box;
    z-index: -1;
}

#scrollContact{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.wrap-box-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer a{
    color: white;
    margin-right: 1em;
    box-sizing: border-box;
}

.box-footer-socialmedia{
    margin-top: 0.5em;
    box-sizing: border-box;
}

.box-footer-socialmedia img{
    width: auto;
    height: 28px;
    box-sizing: border-box;
    transition: 300ms;
}

.footer img:hover{
    scale: 1.15;
}


/* MEDIA */
@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 24.1px;
    }

    h3{
        font-size: 19.1px;
    }

    .hero{
        height: 110vh;
    }

    .menu{
        display: none;
    }

    .hamburgericon{
        display: block;
    }

    .wrap-box-about{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .footer{
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
}

@media screen and (max-width: 768px){
    .container-hero{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .wrap-box-works{
        grid-template-columns: repeat(1, 1fr);
    }

    .wrap-box-footer{
        grid-template-columns: repeat(1, 1fr);
    }

    .margin-socialmedia{
        margin-top: 1em;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 671px){
    .wrap-box-about{
        grid-template-columns: none;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width: 600px){
    .about-desktop{
        display: none;
    }

    .about-mobile{
        display: block;
    }

    .works-desktop{
        display: none;
    }

    .works-mobile{
        display: block;
    }

    .banner-desktop{
        display: none;
    }

    .banner-mobile{
        display: block;
    }
}

@media screen and (max-width: 576px){
    
}

@media screen and (max-width: 381px){
    .box-about{
        padding: 15px;
    }
}